[project]
name = "combine_postfits"
version = "0.1.0"
description = "Plotter for combine postfits"
authors = ["Andrzej Novak <andrzej.novak@cern.ch>"]
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64"]

[tasks]
install-dev = "pip install -e ."
test = "pytest"
test-parallel = "pytest -n auto"

[dependencies]
python = ">=3.9,<3.13"
pip = "*"
# Core dependencies from pyproject.toml
pandas = "*"
root = ">=6.26"
gsl = "*"
tbb = "*"
vdt = "*"
boost-cpp = "*"
boost = "*"
pcre = "*"
eigen = "*"

[pypi-dependencies]
typing_extensions = "*"
typeguard = "*"
rich = "*"
rich-argparse-plus = "*"
numpy = "*"
uproot = "*"
mplhep = ">=0.3.45,<0.4"
hist = "*"
scipy = "*"
pyyaml = "*"

[feature.test.pypi-dependencies]
pytest = "*"
pytest-image-diff = "*"

[feature.test-parallel.pypi-dependencies]
pytest-xdist = "*"

[environments]
default = { solve-group = "default" }
test = { features = ["test"], solve-group = "default" }
test-parallel = { features = ["test", "test-parallel"], solve-group = "default" }